NAC01-PWAI-WEB_JSF-Requester/WebContent/resources/DoadorBO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bo.fiap.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax23="http://to.fiap.com.br/xsd" xmlns:ns="http://bo.fiap.com.br" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://exceptions.fiap.com.br/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
<wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://to.fiap.com.br/xsd">
            <xs:complexType name="DoadorTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endereco" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="foto" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="razaoSocial" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoDoador" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.fiap.com.br/xsd">
            <xs:complexType name="DBCommitException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="IdNotFoundException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="PasswordException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="EmailNomeException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="TipoDoadorException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bo.fiap.com.br" xmlns:ax22="http://exceptions.fiap.com.br/xsd" xmlns:ax24="http://to.fiap.com.br/xsd">
            <xs:import namespace="http://exceptions.fiap.com.br/xsd"/>
            <xs:import namespace="http://to.fiap.com.br/xsd"/>
            <xs:element name="DoadorBODBCommitException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DBCommitException" nillable="true" type="ax22:DBCommitException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="update">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="doador" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DoadorBOIdNotFoundException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdNotFoundException" nillable="true" type="ax22:IdNotFoundException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="delete">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DoadorBOPasswordException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="PasswordException" nillable="true" type="ax22:PasswordException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DoadorBOEmailNomeException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EmailNomeException" nillable="true" type="ax22:EmailNomeException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DoadorBOTipoDoadorException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="TipoDoadorException" nillable="true" type="ax22:TipoDoadorException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="create">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="doador" nillable="true" type="ax24:DoadorTO"/>
                        <xs:element minOccurs="0" name="senha2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findAll">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="findAllResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkEmail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="doador" nillable="true" type="ax24:DoadorTO"/>
                        <xs:element minOccurs="0" name="senha2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkEmailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="alterarSenha">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="doador" nillable="true" type="ax24:DoadorTO"/>
                        <xs:element minOccurs="0" name="senhaAnterior" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="senha1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="senha2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="alterarSenhaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DoadorBOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DoadorBOException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="logar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logarResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchByEmail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchByEmailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax24:DoadorTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="findAllRequest">
    <wsdl:part name="parameters" element="ns:findAll">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByIdResponse">
    <wsdl:part name="parameters" element="ns:findByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alterarSenhaResponse">
    <wsdl:part name="parameters" element="ns:alterarSenhaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="ns:deleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoadorBOPasswordException">
    <wsdl:part name="parameters" element="ns:DoadorBOPasswordException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoadorBOIdNotFoundException">
    <wsdl:part name="parameters" element="ns:DoadorBOIdNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alterarSenhaRequest">
    <wsdl:part name="parameters" element="ns:alterarSenha">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="ns:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByEmailRequest">
    <wsdl:part name="parameters" element="ns:searchByEmail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part name="parameters" element="ns:delete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part name="parameters" element="ns:findAllResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logarRequest">
    <wsdl:part name="parameters" element="ns:logar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logarResponse">
    <wsdl:part name="parameters" element="ns:logarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByIdRequest">
    <wsdl:part name="parameters" element="ns:findById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByEmailResponse">
    <wsdl:part name="parameters" element="ns:searchByEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkEmailResponse">
    <wsdl:part name="parameters" element="ns:checkEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="parameters" element="ns:create">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="parameters" element="ns:update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoadorBOException">
    <wsdl:part name="parameters" element="ns:DoadorBOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkEmailRequest">
    <wsdl:part name="parameters" element="ns:checkEmail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoadorBOTipoDoadorException">
    <wsdl:part name="parameters" element="ns:DoadorBOTipoDoadorException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoadorBODBCommitException">
    <wsdl:part name="parameters" element="ns:DoadorBODBCommitException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="ns:createResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DoadorBOEmailNomeException">
    <wsdl:part name="parameters" element="ns:DoadorBOEmailNomeException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DoadorBOPortType">
    <wsdl:operation name="alterarSenha">
      <wsdl:input message="ns:alterarSenhaRequest" wsaw:Action="urn:alterarSenha">
    </wsdl:input>
      <wsdl:output message="ns:alterarSenhaResponse" wsaw:Action="urn:alterarSenhaResponse">
    </wsdl:output>
      <wsdl:fault name="DoadorBOIdNotFoundException" message="ns:DoadorBOIdNotFoundException" wsaw:Action="urn:alterarSenhaDoadorBOIdNotFoundException">
    </wsdl:fault>
      <wsdl:fault name="DoadorBOPasswordException" message="ns:DoadorBOPasswordException" wsaw:Action="urn:alterarSenhaDoadorBOPasswordException">
    </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException" message="ns:DoadorBODBCommitException" wsaw:Action="urn:alterarSenhaDoadorBODBCommitException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logar">
      <wsdl:input message="ns:logarRequest" wsaw:Action="urn:logar">
    </wsdl:input>
      <wsdl:output message="ns:logarResponse" wsaw:Action="urn:logarResponse">
    </wsdl:output>
      <wsdl:fault name="DoadorBOException" message="ns:DoadorBOException" wsaw:Action="urn:logarDoadorBOException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <wsdl:input message="ns:findByIdRequest" wsaw:Action="urn:findById">
    </wsdl:input>
      <wsdl:output message="ns:findByIdResponse" wsaw:Action="urn:findByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="ns:updateRequest" wsaw:Action="urn:update">
    </wsdl:input>
      <wsdl:output message="ns:updateResponse" wsaw:Action="urn:updateResponse">
    </wsdl:output>
      <wsdl:fault name="DoadorBODBCommitException" message="ns:DoadorBODBCommitException" wsaw:Action="urn:updateDoadorBODBCommitException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="ns:createRequest" wsaw:Action="urn:create">
    </wsdl:input>
      <wsdl:output message="ns:createResponse" wsaw:Action="urn:createResponse">
    </wsdl:output>
      <wsdl:fault name="DoadorBOPasswordException" message="ns:DoadorBOPasswordException" wsaw:Action="urn:createDoadorBOPasswordException">
    </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException" message="ns:DoadorBODBCommitException" wsaw:Action="urn:createDoadorBODBCommitException">
    </wsdl:fault>
      <wsdl:fault name="DoadorBOEmailNomeException" message="ns:DoadorBOEmailNomeException" wsaw:Action="urn:createDoadorBOEmailNomeException">
    </wsdl:fault>
      <wsdl:fault name="DoadorBOTipoDoadorException" message="ns:DoadorBOTipoDoadorException" wsaw:Action="urn:createDoadorBOTipoDoadorException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchByEmail">
      <wsdl:input message="ns:searchByEmailRequest" wsaw:Action="urn:searchByEmail">
    </wsdl:input>
      <wsdl:output message="ns:searchByEmailResponse" wsaw:Action="urn:searchByEmailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="ns:deleteRequest" wsaw:Action="urn:delete">
    </wsdl:input>
      <wsdl:output message="ns:deleteResponse" wsaw:Action="urn:deleteResponse">
    </wsdl:output>
      <wsdl:fault name="DoadorBOIdNotFoundException" message="ns:DoadorBOIdNotFoundException" wsaw:Action="urn:deleteDoadorBOIdNotFoundException">
    </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException" message="ns:DoadorBODBCommitException" wsaw:Action="urn:deleteDoadorBODBCommitException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input message="ns:findAllRequest" wsaw:Action="urn:findAll">
    </wsdl:input>
      <wsdl:output message="ns:findAllResponse" wsaw:Action="urn:findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkEmail">
      <wsdl:input message="ns:checkEmailRequest" wsaw:Action="urn:checkEmail">
    </wsdl:input>
      <wsdl:output message="ns:checkEmailResponse" wsaw:Action="urn:checkEmailResponse">
    </wsdl:output>
      <wsdl:fault name="DoadorBOEmailNomeException" message="ns:DoadorBOEmailNomeException" wsaw:Action="urn:checkEmailDoadorBOEmailNomeException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DoadorBOSoap11Binding" type="ns:DoadorBOPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="alterarSenha">
      <soap:operation soapAction="urn:alterarSenha" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOIdNotFoundException">
        <soap:fault name="DoadorBOIdNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBOPasswordException">
        <soap:fault name="DoadorBOPasswordException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException">
        <soap:fault name="DoadorBODBCommitException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logar">
      <soap:operation soapAction="urn:logar" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOException">
        <soap:fault name="DoadorBOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap:operation soapAction="urn:findById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="urn:update" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBODBCommitException">
        <soap:fault name="DoadorBODBCommitException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="urn:create" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOPasswordException">
        <soap:fault name="DoadorBOPasswordException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException">
        <soap:fault name="DoadorBODBCommitException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBOEmailNomeException">
        <soap:fault name="DoadorBOEmailNomeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBOTipoDoadorException">
        <soap:fault name="DoadorBOTipoDoadorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchByEmail">
      <soap:operation soapAction="urn:searchByEmail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="urn:delete" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOIdNotFoundException">
        <soap:fault name="DoadorBOIdNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException">
        <soap:fault name="DoadorBODBCommitException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="urn:findAll" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkEmail">
      <soap:operation soapAction="urn:checkEmail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOEmailNomeException">
        <soap:fault name="DoadorBOEmailNomeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoadorBOSoap12Binding" type="ns:DoadorBOPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="alterarSenha">
      <soap12:operation soapAction="urn:alterarSenha" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOIdNotFoundException">
        <soap12:fault name="DoadorBOIdNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBOPasswordException">
        <soap12:fault name="DoadorBOPasswordException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException">
        <soap12:fault name="DoadorBODBCommitException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logar">
      <soap12:operation soapAction="urn:logar" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOException">
        <soap12:fault name="DoadorBOException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap12:operation soapAction="urn:findById" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="urn:update" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBODBCommitException">
        <soap12:fault name="DoadorBODBCommitException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap12:operation soapAction="urn:create" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOPasswordException">
        <soap12:fault name="DoadorBOPasswordException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException">
        <soap12:fault name="DoadorBODBCommitException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBOEmailNomeException">
        <soap12:fault name="DoadorBOEmailNomeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBOTipoDoadorException">
        <soap12:fault name="DoadorBOTipoDoadorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchByEmail">
      <soap12:operation soapAction="urn:searchByEmail" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="urn:delete" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOIdNotFoundException">
        <soap12:fault name="DoadorBOIdNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DoadorBODBCommitException">
        <soap12:fault name="DoadorBODBCommitException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap12:operation soapAction="urn:findAll" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkEmail">
      <soap12:operation soapAction="urn:checkEmail" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DoadorBOEmailNomeException">
        <soap12:fault name="DoadorBOEmailNomeException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoadorBOHttpBinding" type="ns:DoadorBOPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="alterarSenha">
      <http:operation location="alterarSenha"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logar">
      <http:operation location="logar"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <http:operation location="findById"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <http:operation location="update"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <http:operation location="create"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByEmail">
      <http:operation location="searchByEmail"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <http:operation location="delete"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <http:operation location="findAll"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkEmail">
      <http:operation location="checkEmail"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoadorBO">
    <wsdl:port name="DoadorBOHttpSoap12Endpoint" binding="ns:DoadorBOSoap12Binding">
      <soap12:address location="http://localhost:8090/NAC01-PWAI-Provider/services/DoadorBO.DoadorBOHttpSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="DoadorBOHttpSoap11Endpoint" binding="ns:DoadorBOSoap11Binding">
      <soap:address location="http://localhost:8090/NAC01-PWAI-Provider/services/DoadorBO.DoadorBOHttpSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="DoadorBOHttpEndpoint" binding="ns:DoadorBOHttpBinding">
      <http:address location="http://localhost:8090/NAC01-PWAI-Provider/services/DoadorBO.DoadorBOHttpEndpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
